.home {
  h3{
    color: #ffffff!important;
    font-weight: bold!important;
    font-size: 2rem!important;
  }
  color : white;
  &-margin{
    &-top{
      margin-top: 50px;
    }
    &-bot{
      margin-bottom: 50px;
    }
  }
}
.posters{
  cursor: pointer;
}