$bcolor: #db2428;
$color: #ffffff;

.input{
  margin-right: 10px!important;
}
.header {
  background-color: $bcolor;
  color: $color;
  min-height: 10vh;
  position: sticky;
  font-size: 25px;
  font-family: "Lucida Sans Unicode";

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    height: 10vh;
  }

  &__movies-categories {
    display: flex;
  }

  &__login {
    img {
      height: 35px;
      margin-right: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

}

.movies-categories {
  font-family: "Lucida Sans Unicode";

  &__item {
    margin: 5px;

    &:visited {
      color: $color;
      text-decoration: none;
    }

    &:hover {
      text-decoration: none;
      color: aqua;
      cursor: pointer;
    }
  }

}