.nav__link {
  color: white;

  &:visited {
    color: white;
  }

  &:hover {
    color: aqua;
    text-decoration: none;
  }
}

.flex-center-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.films__row{
  margin-bottom: 20px;
}
.films__row--title{
  margin: 20px 0 20px 65px;
}